<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->
<!-- <h1>Hello, Rails!</h1>-->


<!-- 
DOCUMENTATION:- 
Things done:-
1. AJAX working.
2. Event on tab close

Things to do:-
Parse the url(to be taken using document.URL) and send it to the controller.


-->

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
      html { height: 100% }
      body { height: 80%;width: 50%; margin: 0; padding: 0 }
      #map { height: 100% }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>iMap</title>
     <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    // <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAR_6EezXheWNmpGyHZVA8Y26WHSRrjNT8"></script>
    // <script type="text/javascript" src="ipmapper.js"></script> -->
    <!--<script type="text/javascript" src="ip2.js"></script>-->
    <%#= stylesheet_link_tab "base" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?key=AIzaSyAR_6EezXheWNmpGyHZVA8Y26WHSRrjNT8" %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    	function initialize() {

        var mapOptions = {
          
          zoom: 5
        };
        IPMapper.initializeMap("map");

        <% @loc.each do |c| %>

 		// alert("city");
        IPMapper.addIPMarker("123.24.144.163");
        IPMapper.addIPMarker("<%= c %>");
        
        <% end %>
        
      }
      // google.maps.event.addDomListener(window, 'load', initialize);
      $(document).ready(function(e){
      	// alert(""+document.URL);
      	initialize();
      	var ip = "<%= request.remote_ip %>";
      	var city = IPMapper.getCity(ip);
      	alert(city);
      	$('.box').bind('mouseover',function(e){
      		// alert("hi");
      		$('.box').css("background-color","#ff0");
      	});
      	var urlq = window.location.pathname;
      	
      	var ip_arr = ["hii"];
      	//alert(urlq);
      	$.ajax({
      		url:'/welcome/list',
      		method:'GET',
      		data:({url:urlq,city:city}),
      		datatype:'json',
      		success:function(data){
      			// dparse = JSON.parse(data);
      			var i,j;
      			for(i in data){
      				alert(data[i]['ip']);
      			}
      			// alert(data);

      		},
      		error:function(request,status,error){
      			alert(error);
      		}
      	});

      	// alert(ip_arr[0]);
      	// wireUpEvents();
      	window.onbeforeunload = function(){
      		// var ip = "<%= request.ip %>";
      		// var url = "<%= request.url %>";

      		// return "are u sue??"+ip+" "+url+"";
      		// console.log("hello");
      		// alert("hii");
      		$.ajax({
      			url : '/welcome/tabclose',
      			success:function(data){
      				// var ip = "<%= request.ip %>";
		      		// var url = "<%= request.url %>";

		      		// return "are u sue??"+ip+" "+url+"";
      			},
      			error:function(error){
      				alert(error);
      			}

      		});
      	}
      });
    </script>
 
    
</head>
<body>
    
    <!-- <div id="map" style="height: 500px;"></div> -->
   <!-- <h1>IP: </h1>
   <h1>URL: </h1>
   <h1>CITY:</h1>
   <h1>Listing ip</h1>
	<ul id="ip_list">
	<%# @list.each do |c| %>
	<li><%#= c.ip %>
	</li>
	<%# end %>
	</ul> -->



	<div class="box">

	</div>

	<div class="mapd">
		<div id="map" style="height: 500px;"></div>
	</div>






</body>
</html>